In [55]:
from flask import Flask, render_template, jsonify,send_file
import pandas as pd
import warnings
import math
import numpy as np
from sqlalchemy import create_engine, text
from io import BytesIO
import psycopg2


color_scheme = {
  '1':  '#B83911',
  '10': 
     '#40916C',
  '11': 
     '#8C5CB7',
  
  '12': 
     '#C8C832',
  
  '14': 
     '#74C69D',
  
  '17': 
     '#0F7512',
  
  '18': 
     '#28C92B',
  
  '19': 
     'black',
  
  '2': 
     '#DFEC32',
  
  '20': 
     '#DF111C',
  
  '21': 
     '#A6AA22',
  
  '22': 
     '#C8C832',
  
  '23': 
     '#4B9CD3',
  
  '24': 
     '#2989D8',
  
  '3': 
     '#865B33',
  '4': 
     '#52B788',
  '41': 
     '#95D5B2',
  '42': 
     '#C93E17',
  '43': 
     '#29E6E4',
  '45': 
     '#FF00EA',
  '47': 
     '#DA9A51',
  '48': 
     '#2666B3',
  '5': 
     '#2666B3',
  '54': 
     '#28C92B',
  '6': 
     '#15831A',
  '67': 
     '#FF7516',
  '8': 
     '#BB8348',
  '88': 
     '#2F7DDE',
  '9': 
     '#2C89E9',
  '95': 
     '#E37823',
  '99': 
     '#BA702B',
   '15': '#646464',
   '51': '#646464',
   '34': '#646464',
   '62': '#646464',
   '7': '#646464',
   '16':'#646464',
   '31':'#646464', '38':'#646464', '77':'#646464', '78':'#646464'}

In [56]:
import psycopg2
connection = psycopg2.connect(
host = "postgres-23xi-aurora-rds-cluster.cluster-ro-cbywwdy08bsq.us-east-1.rds.amazonaws.com",
port = "5432",
user = "gryffindor",
password = "password2311",
database='dev')

In [57]:
results = pd.read_sql('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results', connection)
results = results[results['run_type'] == 3]
results = results.sort_values(['lead_lap','vehicle_id'])
results = results.drop_duplicates(['vehicle_id','lap'])

df = pd.read_sql("""SELECT * FROM (
SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION), ROW_NUMBER() OVER (PARTITION BY vehicle_id, lap ORDER BY timestamp ASC) AS row_num
FROM timejoin_throttle_position
WHERE (CAST(lap_fraction_pos AS DOUBLE PRECISION)) > 0.950 AND CAST(lap_fraction AS DOUBLE PRECISION) - CAST(lap AS INT) > 0.9
) AS subquery
WHERE row_num = 1;""", connection)

df = pd.merge(df, results, on = ['vehicle_id','lap'])
df = df.sort_values(['vehicle_id','lead_lap_x'])
df['flag_state'] = df.flag_state.apply(lambda x:1 if x == 'Green' else 2)
df['flag_change'] = df.groupby('vehicle_id').flag_state.diff()
df.flag_change.fillna(-1, inplace = True)
restarts = df[df['flag_change'] == -1]

value_counts = restarts['lead_lap_y'].value_counts()
filtered_values = value_counts[value_counts > 15].index.tolist()
filtered_values.sort()
filtered_values_select = [i for i in filtered_values]
print(filtered_values_select)
output_tables = []


for i in filtered_values_select:
        print('new deployment working')
        res = df[df['lead_lap_y'].isin([i])]
        res = res.drop_duplicates(['vehicle_id','lead_lap_x'], keep = 'last')
        res['distance_from_white_line'] = np.abs(res.distance_from_white_line)
        res['lane'] = res.distance_from_white_line.apply(lambda x: 'inside' if x <= math.floor(np.median(res.distance_from_white_line) * 2) / 2 else 'outside')
        res['restart_pos'] = res.groupby('lane').ps.rank()


        res = res[['vehicle_id','restart_pos','distance_from_white_line', 'lane', 'lap_fraction','ps']].sort_values(['ps','lane'])
        res = res.reset_index(drop = True)
        res['ps'] = res.index + 1
        res
        post_sort = results[results['lead_lap'] == i + 3][['vehicle_id','ps']]
        post_sort.columns = ['vehicle_id','post_sort_ps']
        for i in res.vehicle_id:
            if i not in post_sort.vehicle_id.values:
                post_sort = pd.concat([post_sort, pd.DataFrame({'vehicle_id': i, 'post_sort_ps': post_sort.post_sort_ps.max()+1}, index = [0])])
    
        out = pd.merge(res,post_sort, on = 'vehicle_id')
        out.sort_values('restart_pos')
        out['gain'] = out.ps - out.post_sort_ps

        df1 = out.pivot_table(index='restart_pos', columns='lane', values='vehicle_id', aggfunc='first')
        df2 = out.pivot_table(index='restart_pos', columns='lane', values='post_sort_ps', aggfunc='first')
        df3 = out.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')

        out = pd.concat([df1,df2, df3], axis = 1)
        out.columns = ['Car # Inside','Car # Outside','Position after Sort','','Gain/Loss','']
        output_tables.append(out)

all_restarts = pd.concat(output_tables).reset_index()
clean_restarts = all_restarts.copy()
last_two_columns = clean_restarts.iloc[:, -2:]
last_two_columns[last_two_columns > 10] = 0
last_two_columns[last_two_columns < -10] = 0
clean_restarts.iloc[:, -2:] = last_two_columns
row1 = clean_restarts[clean_restarts.restart_pos == 1]
row2 = clean_restarts[clean_restarts.restart_pos == 2]
row3 = clean_restarts[clean_restarts.restart_pos == 3]
row4 = clean_restarts[clean_restarts.restart_pos == 4]
row5 = clean_restarts[clean_restarts.restart_pos == 5]
top16 = clean_restarts[clean_restarts.restart_pos <= 8]
top16 = top16[top16.restart_pos > 5]
top22 = clean_restarts[clean_restarts.restart_pos <= 11]
top22 = top22[top22.restart_pos > 8]
top30 = clean_restarts[clean_restarts.restart_pos > 11]

lane_choice = pd.DataFrame({'Row': ['1','2','3','4','5','6-8','9-11','12'], 'Inside Lane': [np.round(row1.iloc[:,5].mean(),2),np.round(row2.iloc[:,5].mean(),2),np.round(row3.iloc[:,5].mean(),2),np.round(row4.iloc[:,5].mean(),2),np.round(row5.iloc[:,5].mean(),2),np.round(top16.iloc[:,5].mean(),2),np.round(top22.iloc[:,5].mean(),2),np.round(top30.iloc[:,5].mean(),2)],'Outside Lane': [np.round(row1.iloc[:,6].mean(),2),np.round(row2.iloc[:,6].mean(),2),np.round(row3.iloc[:,6].mean(),2),np.round(row4.iloc[:,6].mean(),2),np.round(row5.iloc[:,6].mean(),2),np.round(top16.iloc[:,6].mean(),2),np.round(top22.iloc[:,6].mean(),2),np.round(top30.iloc[:,6].mean(),2)]})

C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_21012\4136229496.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  results = pd.read_sql('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results', connection)
C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_21012\4136229496.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""SELECT * FROM (

[0, 14, 34, 87, 160, 171, 239]
new deployment working
new deployment working
new deployment working
new deployment working
new deployment working
new deployment working
new deployment working

C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_21012\4136229496.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.flag_change.fillna(-1, inplace = True)

In [58]:
all_restarts

,restart_pos,Car # Inside,Car # Outside,Position after Sort,,Gain/Loss,
0,1.0,22,5,2.0,1.0,-1.0,1.0
1,2.0,2,24,4.0,3.0,-1.0,1.0
2,3.0,23,14,8.0,5.0,-3.0,1.0
3,4.0,19,54,6.0,10.0,1.0,-2.0
4,5.0,17,20,7.0,14.0,2.0,-4.0
...,...,...,...,...,...,...,...
141,14.0,34,51,27.0,30.0,2.0,-3.0
142,15.0,8,21,28.0,29.0,2.0,-1.0
143,16.0,7,16,32.0,31.0,0.0,0.0
144,17.0,20,23,33.0,35.0,0.0,-1.0
145,18.0,NaN,71,NaN,36.0,NaN,-1.0

In [125]:
df[df['lead_lap_y'].isin([14])]['lap_fraction_pos']

45      0.9700
300     0.9980
556     0.9520
811     0.9524
1065    0.9536
1319    0.9588
1573    0.9516
1785    0.9620
1839    0.9556
2092    0.9512
2347    0.9964
2599    0.9576
2853    0.9584
3107    0.9512
3348    0.9520
3604    0.9508
3860    0.9508
4113    0.9520
4368    0.9972
4622    0.9628
4877    0.9724
5129    0.9960
5382    0.9996
5638    0.9556
5892    0.9524
6146    0.9508
6401    0.9524
6656    0.9572
6910    0.9520
7164    0.9544
7419    0.9532
7858    0.9560
7914    0.9552
8170    0.9536
8424    0.9524
8680    0.9504
Name: lap_fraction_pos, dtype: float64

In [110]:
out

,Car # Inside,Car # Outside,Position after Sort,,Gain/Loss,
restart_pos,,,,,,
1.0,17,45,7.0,8.0,-6.0,-4.0
2.0,14,5,2.0,4.0,0.0,2.0
3.0,7,23,3.0,6.0,0.0,3.0
4.0,99,2,5.0,9.0,0.0,1.0
5.0,22,9,10.0,13.0,-3.0,-1.0
6.0,24,34,1.0,15.0,7.0,1.0
7.0,19,77,11.0,17.0,0.0,0.0
8.0,54,8,14.0,19.0,-1.0,-1.0
9.0,47,3,12.0,25.0,2.0,-6.0
10.0,12,1,16.0,20.0,-1.0,1.0
11.0,48,4,18.0,22.0,2.0,1.0
12.0,11,21,23.0,21.0,-1.0,3.0
13.0,16,51,30.0,29.0,-3.0,-4.0
14.0,38,41,35.0,24.0,-2.0,2.0
15.0,42,15,31.0,27.0,3.0,1.0
16.0,20,6,34.0,26.0,2.0,3.0
17.0,71,31,37.0,28.0,0.0,3.0
18.0,NaN,10,NaN,33.0,NaN,-1.0
19.0,NaN,43,NaN,32.0,NaN,3.0

In [ ]:
query  = "SELECT * FROM (SELECT *, ROW_NUMBER() OVER (PARTITION BY vehicle_no, CAST(lap_fraction AS SIGNED) ORDER BY location_timestamp ASC) AS row_num FROM core.erdp_location_23kan2 WHERE (CAST(lap_fraction * 10000 AS SIGNED) % 10000) > 9500 AND last_loop_name = 'L3') AS subquery WHERE row_num = 1 AND run_type = 3 AND race_id = 5301;"

k = pd.read_sql(query, mydb)

k['flag_change'] = k.groupby('vehicle_no').flag_code.diff()
k['lap'] = k['lap_fraction'].astype(str).str.split('.').str[0].astype(float)
k.flag_change.fillna(-1, inplace = True)
k2 = k[k['flag_change'] == -1]
value_counts = k2['lead_lap'].value_counts()

filtered_values = value_counts[value_counts > 16].index.tolist()
filtered_values.sort()

In [35]:
from flask import Flask, render_template, jsonify,send_file,request
import pandas as pd
import warnings
import math
import numpy as np
import psycopg2 
from io import BytesIO
import time as time
import logging

# log = logging.getLogger('werkzeug')
# log.setLevel(logging.WARNING)
# warnings.filterwarnings("ignore")

connection = psycopg2.connect(
host = "postgres-23xi-aurora-rds-cluster.cluster-ro-cbywwdy08bsq.us-east-1.rds.amazonaws.com",
port = "5432",
user = "gryffindor",
password = "password2311",
database='dev')



results = pd.read_sql('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results', connection)
results = results[results['run_type'] == 3]
results = results.sort_values(['lead_lap','vehicle_id'])
results = results.drop_duplicates(['vehicle_id','lap'])

df = pd.read_sql("""SELECT * FROM (
SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION), ROW_NUMBER() OVER (PARTITION BY vehicle_id, lap ORDER BY timestamp ASC) AS row_num
FROM timejoin_throttle_position
WHERE (CAST(lap_fraction_pos AS DOUBLE PRECISION)) > 0.950
) AS subquery
WHERE row_num = 1;""", connection)

df = pd.merge(df, results, on = ['vehicle_id','lap'])
df = df.sort_values(['vehicle_id','lead_lap_x'])
df['flag_state'] = df.flag_state.apply(lambda x:1 if x == 'Green' else 2)
df['flag_change'] = df.groupby('vehicle_id').flag_state.diff()
df.flag_change.fillna(-1, inplace = True)
restarts = df[df['flag_change'] == -1]

value_counts = restarts['lead_lap_y'].value_counts()
filtered_values = value_counts[value_counts > 15].index.tolist()
filtered_values.sort()
restart_select = filtered_values
filtered_values_select = [i for i in filtered_values if i in restart_select]
print(filtered_values_select)
output_tables = []

if 0 in filtered_values_select:
    print(0)
    start = pd.read_sql("""SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION)
    FROM timejoin_throttle_position
    WHERE (CAST(lap_fraction AS DOUBLE PRECISION)) < 1.05 AND CAST(lap_fraction AS DOUBLE PRECISION) > 1""", connection)
    start = start.sort_values('timestamp', ascending = True).groupby('vehicle_id').first().reset_index()
    start['distance_from_white_line'] = np.abs(start.distance_from_white_line)

    start['lane'] = start.distance_from_white_line.apply(lambda x: 'inside' if x <= np.median(start.distance_from_white_line) else 'outside')
    start = pd.merge(start, results, on = ['vehicle_id','lap'])
    start['restart_pos'] = start.groupby('lane').ps.rank()
    start = start[['vehicle_id','restart_pos','distance_from_white_line', 'lane', 'lap_fraction','ps']].sort_values(['ps','lane'])
    post_sort = results[results['lead_lap'].isin([3])][['vehicle_id','ps']]
    post_sort.columns = ['vehicle_id','post_sort_ps']
    for i in start.vehicle_id:
        if i not in post_sort.vehicle_id.values:
            post_sort = pd.concat([post_sort, pd.DataFrame({'vehicle_id': i, 'post_sort_ps': post_sort.post_sort_ps.max()+1}, index = [0])])
    out = pd.merge(start,post_sort, on = 'vehicle_id')
    out.sort_values('restart_pos')
    out['gain'] = out.ps - out.post_sort_ps

    df1 = out.pivot_table(index='restart_pos', columns='lane', values='vehicle_id', aggfunc='first')
    df2 = out.pivot_table(index='restart_pos', columns='lane', values='post_sort_ps', aggfunc='first')
    df3 = out.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')

    out = pd.concat([df1,df2, df3], axis = 1)
    out.columns = ['Car # Inside','Car # Outside','Position after Sort','','Gain/Loss','']
    output_tables.append(out)

for i in filtered_values_select:
        print('new deployment working')
        res = df[df['lead_lap_y'].isin([i])]
        res = res.drop_duplicates(['vehicle_id','lead_lap_x'], keep = 'last')
        res['distance_from_white_line'] = np.abs(res.distance_from_white_line)
        res['lane'] = res.distance_from_white_line.apply(lambda x: 'inside' if x <= math.floor(np.mean(res.distance_from_white_line) * 2) / 2 else 'outside')
        res['restart_pos'] = res.groupby('lane').ps.rank()


        res = res[['vehicle_id','restart_pos','distance_from_white_line', 'lane', 'lap_fraction','ps']].sort_values(['ps','lane'])
        post_sort = results[results['lead_lap'].isin([i + 3])][['vehicle_id','ps']]
        post_sort.columns = ['vehicle_id','post_sort_ps']
        for i in res.vehicle_id:
            if i not in post_sort.vehicle_id.values:
                post_sort = pd.concat([post_sort, pd.DataFrame({'vehicle_id': i, 'post_sort_ps': post_sort.post_sort_ps.max()+1}, index = [0])])
    
        out = pd.merge(res,post_sort, on = 'vehicle_id')
        out.sort_values('restart_pos')
        out['gain'] = out.ps - out.post_sort_ps

        df1 = out.pivot_table(index='restart_pos', columns='lane', values='vehicle_id', aggfunc='first')
        df2 = out.pivot_table(index='restart_pos', columns='lane', values='post_sort_ps', aggfunc='first')
        df3 = out.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')

        out = pd.concat([df1,df2, df3], axis = 1)
        out.columns = ['Car # Inside','Car # Outside','Position after Sort','','Gain/Loss','']
        output_tables.append(out)
        print(out)

all_restarts = pd.concat(output_tables).reset_index()
clean_restarts = all_restarts.copy()
last_two_columns = clean_restarts.iloc[:, -2:]
last_two_columns[last_two_columns > 10] = 0
last_two_columns[last_two_columns < -10] = 0
clean_restarts.iloc[:, -2:] = last_two_columns
print(clean_restarts)
row1 = clean_restarts[clean_restarts.restart_pos == 1]
row2 = clean_restarts[clean_restarts.restart_pos == 2]
row3 = clean_restarts[clean_restarts.restart_pos == 3]
row4 = clean_restarts[clean_restarts.restart_pos == 4]
row5 = clean_restarts[clean_restarts.restart_pos == 5]
top16 = clean_restarts[clean_restarts.restart_pos <= 8]
top16 = top16[top16.restart_pos > 5]
top22 = clean_restarts[clean_restarts.restart_pos <= 11]
top22 = top22[top22.restart_pos > 8]
top30 = clean_restarts[clean_restarts.restart_pos > 11]

lane_choice = pd.DataFrame({'Row': ['1','2','3','4','5','6-8','9-11','12'], 'Inside Lane': [np.round(row1.iloc[:,5].mean(),2),np.round(row2.iloc[:,5].mean(),2),np.round(row3.iloc[:,5].mean(),2),np.round(row4.iloc[:,5].mean(),2),np.round(row5.iloc[:,5].mean(),2),np.round(top16.iloc[:,5].mean(),2),np.round(top22.iloc[:,5].mean(),2),np.round(top30.iloc[:,5].mean(),2)],'Outside Lane': [np.round(row1.iloc[:,6].mean(),2),np.round(row2.iloc[:,6].mean(),2),np.round(row3.iloc[:,6].mean(),2),np.round(row4.iloc[:,6].mean(),2),np.round(row5.iloc[:,6].mean(),2),np.round(top16.iloc[:,6].mean(),2),np.round(top22.iloc[:,6].mean(),2),np.round(top30.iloc[:,6].mean(),2)]})

C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_33708\1276479371.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  results = pd.read_sql('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results', connection)
C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_33708\1276479371.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""SELECT * FROM (
C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_33708\1276479371.py:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.flag_change.fillna(-1, inplace = True)
C:\Users\RobertMcKenzie\AppData\Local\Temp\ipykernel_33708\1276479371.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  start = pd.read_sql("""SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION)

[0, 14, 34, 87, 160, 171, 239]
0
new deployment working
            Car # Inside Car # Outside  Position after Sort      Gain/Loss
restart_pos
1.0                   22             5                    2   1         -1   1
2.0                    2            24                    4   3         -1   1
3.0                   23            14                    8   5         -3   1
4.0                   19            54                    6  10          1  -2
5.0                   17            20                    7  14          2  -4
6.0                    9            34                   11  13          0  -1
7.0                   47            77                    9  12          4   2
8.0                   12            99                   16  18         -1  -2
9.0                    7            45                   17  15          0   3
10.0                   3             1                   20  33         -1 -13
11.0                   8            43                   22  19         -1   3
12.0                  48            71                   23  37          0 -13
13.0                   6             4                   25  21          0   5
14.0                  42            11                   29  26         -2   2
15.0                  21            10                   27  24          2   6
16.0                  38            15                   28  30          3   2
17.0                  16            31                   35  32         -2   2
18.0                  51            41                   31  34          4   2
new deployment working
            Car # Inside Car # Outside  Position after Sort        Gain/Loss  \
restart_pos
1.0                   17            10                  7.0  31.0       -6.0
2.0                   14            43                  2.0  34.0        0.0
3.0                    7            38                  3.0  35.0        0.0
4.0                   45            42                  8.0  32.0       -4.0
5.0                   99            20                  5.0  33.0        0.0
6.0                    5           NaN                  4.0   NaN        2.0
7.0                   24           NaN                  1.0   NaN        6.0
8.0                   22           NaN                  9.0   NaN       -1.0
9.0                    2           NaN                 11.0   NaN       -2.0
10.0                  23           NaN                  6.0   NaN        4.0
11.0                   9           NaN                 12.0   NaN       -1.0
12.0                  19           NaN                 10.0   NaN        2.0
13.0                  54           NaN                 13.0   NaN        0.0
14.0                  47           NaN                 14.0   NaN        0.0
15.0                  12           NaN                 15.0   NaN        0.0
16.0                  34           NaN                 16.0   NaN        0.0
17.0                   8           NaN                 21.0   NaN       -4.0
18.0                  77           NaN                 17.0   NaN        2.0
19.0                   3           NaN                 23.0   NaN       -3.0
20.0                  48           NaN                 18.0   NaN        3.0
21.0                   1           NaN                 19.0   NaN        4.0
22.0                  11           NaN                 24.0   NaN        0.0
23.0                  21           NaN                 20.0   NaN        5.0
24.0                   4           NaN                 22.0   NaN        4.0
25.0                  51           NaN                 28.0   NaN        1.0
26.0                  16           NaN                 30.0   NaN        0.0
27.0                  41           NaN                 25.0   NaN        6.0
28.0                  15           NaN                 27.0   NaN        5.0
29.0                   6           NaN                 26.0   NaN        7.0
30.0                  31           NaN                 29.0   NaN        5.0
31.0                  71           NaN                 37.0   NaN        0.0


restart_pos
1.0         -13.0
2.0         -12.0
3.0          -8.0
4.0          -4.0
5.0           3.0
6.0           NaN
7.0           NaN
8.0           NaN
9.0           NaN
10.0          NaN
11.0          NaN
12.0          NaN
13.0          NaN
14.0          NaN
15.0          NaN
16.0          NaN
17.0          NaN
18.0          NaN
19.0          NaN
20.0          NaN
21.0          NaN
22.0          NaN
23.0          NaN
24.0          NaN
25.0          NaN
26.0          NaN
27.0          NaN
28.0          NaN
29.0          NaN
30.0          NaN
31.0          NaN
new deployment working
            Car # Inside Car # Outside  Position after Sort        Gain/Loss  \
restart_pos
1.0                   99            34                  1.0   3.0        0.0
2.0                   19            42                  2.0   5.0        2.0
3.0                    5             8                  4.0   6.0        2.0
4.0                   11            24                  7.0   8.0        1.0
5.0                    7            23                 10.0   9.0        0.0
6.0                   77            14                 12.0  17.0        0.0
7.0                    2            45                 14.0  11.0        0.0
8.0                   54            22                 15.0  13.0        1.0
9.0                    3             9                 23.0  16.0       -4.0
10.0                  47            12                 21.0  20.0       -1.0
11.0                   1            48                 22.0  19.0        0.0
12.0                  15            21                 34.0  25.0      -10.0
13.0                  41            20                 24.0  18.0        1.0
14.0                  51             4                 26.0  27.0        2.0
15.0                  16            10                 30.0  29.0        0.0
16.0                  43            31                 32.0  28.0       -1.0
17.0                  38             6                 31.0  33.0        3.0
18.0                 NaN            71                  NaN  36.0        NaN


restart_pos
1.0         -1.0
2.0         -2.0
3.0         -1.0
4.0         -1.0
5.0          0.0
6.0         -6.0
7.0          2.0
8.0          2.0
9.0          1.0
10.0        -2.0
11.0         2.0
12.0        -2.0
13.0         8.0
14.0         0.0
15.0         0.0
16.0         4.0
17.0         0.0
18.0         0.0
new deployment working
            Car # Inside Car # Outside  Position after Sort        Gain/Loss  \
restart_pos
1.0                   19            11                  2.0   1.0       -1.0
2.0                    5             7                  4.0   3.0       -1.0
3.0                    8            54                  8.0   5.0       -3.0
4.0                   20            48                 10.0   7.0       -3.0
5.0                    2            22                 14.0   9.0       -4.0
6.0                    9            12                 13.0   6.0       -1.0
7.0                   77             1                 18.0  11.0       -4.0
8.0                   45            10                 12.0  17.0        4.0
9.0                   14            23                 16.0  15.0        2.0
10.0                  21             6                 19.0  21.0        1.0
11.0                  99             3                 22.0  20.0        0.0
12.0                  31            16                 23.0  27.0        1.0
13.0                  43            41                 25.0  30.0        0.0
14.0                  38            42                 24.0  32.0        4.0
15.0                   4            47                 29.0  28.0        1.0
16.0                  51            34                 31.0  26.0        1.0
17.0                  15            24                 33.0  34.0        0.0
18.0                 NaN            71                  NaN  36.0        NaN


restart_pos
1.0          1.0
2.0          1.0
3.0          1.0
4.0          1.0
5.0          0.0
6.0          5.0
7.0          2.0
8.0         -2.0
9.0          2.0
10.0        -2.0
11.0         1.0
12.0        -4.0
13.0        -4.0
14.0        -5.0
15.0         1.0
16.0         5.0
17.0         0.0
18.0         0.0
new deployment working
            Car # Inside Car # Outside  Position after Sort        Gain/Loss  \
restart_pos
1.0                   48            24                  2.0  13.0       -1.0
2.0                    5            99                  1.0  15.0        1.0
3.0                   11            54                  4.0  30.0       -1.0
4.0                   45             8                  3.0  16.0        1.0
5.0                   12             4                  5.0  18.0        0.0
6.0                   22            21                  8.0  22.0       -2.0
7.0                   19            47                  6.0  24.0        1.0
8.0                    9             1                  7.0  27.0        1.0
9.0                    3            31                  9.0  31.0        0.0
10.0                   7           NaN                 11.0   NaN       -1.0
11.0                  14           NaN                 10.0   NaN        2.0
12.0                  10           NaN                 14.0   NaN       -1.0
13.0                  34           NaN                 21.0   NaN       -6.0
14.0                  43           NaN                 12.0   NaN        5.0
15.0                  38           NaN                 17.0   NaN        2.0
16.0                   6           NaN                 19.0   NaN        1.0
17.0                  42           NaN                 23.0   NaN        0.0
18.0                  41           NaN                 20.0   NaN        5.0
19.0                  16           NaN                 26.0   NaN        0.0
20.0                  15           NaN                 28.0   NaN       -1.0
21.0                  51           NaN                 29.0   NaN        0.0
22.0                   2           NaN                 32.0   NaN       -2.0
23.0                  77           NaN                 25.0   NaN        6.0
24.0                  20           NaN                 37.0   NaN       -4.0
25.0                  23           NaN                 34.0   NaN        0.0
26.0                  71           NaN                 36.0   NaN        0.0


restart_pos
1.0          -2.0
2.0          -1.0
3.0         -14.0
4.0           2.0
5.0           3.0
6.0           0.0
7.0           0.0
8.0           1.0
9.0           1.0
10.0          NaN
11.0          NaN
12.0          NaN
13.0          NaN
14.0          NaN
15.0          NaN
16.0          NaN
17.0          NaN
18.0          NaN
19.0          NaN
20.0          NaN
21.0          NaN
22.0          NaN
23.0          NaN
24.0          NaN
25.0          NaN
26.0          NaN
new deployment working
            Car # Inside Car # Outside  Position after Sort        Gain/Loss  \
restart_pos
1.0                    5            21                  1.0  19.0        0.0
2.0                   45            54                  2.0  11.0        0.0
3.0                   11            48                  3.0  20.0        0.0
4.0                   12            42                  7.0  22.0       -3.0
5.0                   19             1                  4.0  24.0        1.0
6.0                    9            31                  6.0  27.0        0.0
7.0                    3            15                  8.0  32.0       -1.0
8.0                   22            23                  9.0  37.0       -1.0
9.0                   43           NaN                 13.0   NaN       -4.0
10.0                  14           NaN                  5.0   NaN        5.0
11.0                   7           NaN                 16.0   NaN       -5.0
12.0                  10           NaN                 14.0   NaN       -2.0
13.0                   6           NaN                 15.0   NaN       -2.0
14.0                   8           NaN                 10.0   NaN        4.0
15.0                  99           NaN                 21.0   NaN       -6.0
16.0                   4           NaN                 12.0   NaN        4.0
17.0                  16           NaN                 28.0   NaN      -10.0
18.0                  38           NaN                 17.0   NaN        3.0
19.0                  24           NaN                 23.0   NaN       -1.0
20.0                  41           NaN                 26.0   NaN       -3.0
21.0                  77           NaN                 18.0   NaN        6.0
22.0                  47           NaN                 30.0   NaN       -4.0
23.0                   2           NaN                 25.0   NaN        3.0
24.0                  34           NaN                 29.0   NaN        1.0
25.0                  51           NaN                 31.0   NaN        1.0
26.0                  20           NaN                 33.0   NaN        1.0
27.0                  71           NaN                 36.0   NaN        0.0


restart_pos
1.0         -2.0
2.0          8.0
3.0          1.0
4.0          3.0
5.0          3.0
6.0          2.0
7.0         -1.0
8.0         -4.0
9.0          NaN
10.0         NaN
11.0         NaN
12.0         NaN
13.0         NaN
14.0         NaN
15.0         NaN
16.0         NaN
17.0         NaN
18.0         NaN
19.0         NaN
20.0         NaN
21.0         NaN
22.0         NaN
23.0         NaN
24.0         NaN
25.0         NaN
26.0         NaN
27.0         NaN
new deployment working

ValueError: Length mismatch: Expected axis has 2 elements, new values have 6 elements

In [31]:
with pd.ExcelWriter('out.xlsx', engine='xlsxwriter') as writer:
    for i, df in enumerate(output_tables):
        sheet_name = f'Restart_{i})'
        df.to_excel(writer, sheet_name=sheet_name, index=False)

In [34]:
res = df[df['lead_lap_y'].isin([i])]
res = res.drop_duplicates(['vehicle_id','lead_lap_x'], keep = 'last')
res['distance_from_white_line'] = np.abs(res.distance_from_white_line)
res['lane'] = res.distance_from_white_line.apply(lambda x: 'inside' if x <= math.floor(np.mean(res.distance_from_white_line) * 2) / 2 else 'outside')
res['restart_pos'] = res.groupby('lane').ps.rank()

KeyError: 'lead_lap_y'

In [ ]:
    df_list = []
    start = pd.read_sql('SELECT * FROM core.erdp_location_curr WHERE run_type = 3 AND lap_fraction < 2 AND race_id = 5376', mydb)
    start = start[start['lap_fraction'] < 1.1]
    start = start[start['lap_fraction'] > 1]
    start = start[start['lead_lap'] == 0]

    start = start[start['last_loop_name'].isin(['SF','L3'])]

    start = start.sort_values('location_timestamp', ascending = True).groupby('vehicle_no').first().reset_index()
    start['pos'] = start.last_loop_timestamp.rank()
    start = start.sort_values('pos').reset_index()
    start[['vehicle_no','location_timestamp','pos']]

    pos = list(zip(start.vehicle_position_x, start.vehicle_position_y))

    dist_white_line = list()
    for j in pos:
        dist_white_line.append(calc_inside_distance(j, white_line)[0])
    start['dist_wl'] = dist_white_line
    start['lane'] = start.dist_wl.apply(lambda x: 'inside' if x <= np.median(dist_white_line) else 'outside')
    start['restart_pos'] = start.groupby('lane').pos.rank()
    pre_choose = pd.read_sql('SELECT * FROM core.erdp_result WHERE race_id = 5376 AND lead_lap = 0 AND run_type = 3', mydb)
    pre_choose = pre_choose[['vehicle_no','position']]
    pre_choose.columns = ['vehicle_no', 'Pre-Choose Position']
    start = pd.merge(start, pre_choose, on = 'vehicle_no')

    query = f'SELECT * FROM core.erdp_result WHERE lead_lap = 2 AND race_id = 5376 AND run_type = 3'
    ret = pd.read_sql(query, mydb)
    sort_out = ret.sort_values('position')[['vehicle_no', 'position']]
    r = start[['vehicle_no','restart_pos','dist_wl', 'lane','Pre-Choose Position']].sort_values(['restart_pos','lane']).reset_index().reset_index()
    r['start_pos'] = r['Pre-Choose Position'] 
    r = r[['vehicle_no','restart_pos', 'lane', 'start_pos']]
    r = pd.merge(r, sort_out, on = 'vehicle_no')
    r['gain'] = r['start_pos'] - r['position']
    df1 = r.pivot_table(index='restart_pos', columns='lane', values='vehicle_no', aggfunc='first')
    df2 = r.pivot_table(index='restart_pos', columns='lane', values='start_pos', aggfunc='first')
    df3 = r.pivot_table(index='restart_pos', columns='lane', values='position', aggfunc='first')
    df4 = r.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')
    out = pd.concat([df1,df2, df3,df4], axis = 1)
    out.index.names = ['Lane']
    out.insert(2,'V','')
    out.insert(5,'C','')
    out.insert(8,'L','')

    out.columns = ['Car # Inside','Car # Outside', '','Pre-Choose Position','Pre-Choose Position','','Post-Sort Position','Post-Sort Position','', 'Gain/Loss','Gain/Loss']
    df_list.append(r)
    file.write(f"Restart 0\n")
    file.write(f'Lap #: 1\n')
    file.write(f'Sort Lap: 3\n')
    out.to_csv(file, index=False)
    file.write("\n")

    for i in range(1,len(filtered_values)):
        restart = k[k['lap'] == filtered_values[i]-1]
        restart['pos'] = restart.last_loop_timestamp.rank()
        pos = list(zip(restart.vehicle_position_x, restart.vehicle_position_y))

        dist_white_line = list()
        for j in pos:
            dist_white_line.append(calc_inside_distance(j, white_line)[0])
        restart['dist_wl'] = dist_white_line
        restart['lane'] = restart.dist_wl.apply(lambda x: 'inside' if x <= np.median(dist_white_line) else 'outside')
        restart['restart_pos'] = restart.groupby('lane').pos.rank()
        pre_choose = pd.read_sql(f'SELECT * FROM core.erdp_result WHERE race_id = 5376 AND lead_lap = {filtered_values[i]-1} AND run_type = 3', mydb)
        pre_choose = pre_choose[['vehicle_no','position']]
        pre_choose.columns = ['vehicle_no', 'Pre-Choose Position']
        restart = pd.merge(restart, pre_choose, on = 'vehicle_no')
        print(restart[['vehicle_no','restart_pos','dist_wl', 'lane', 'lap_fraction']].sort_values(['restart_pos','lane']))

        query = f'SELECT * FROM core.erdp_result WHERE lead_lap = {filtered_values[i] + 2} AND race_id = 5376 AND run_type = 3'
        ret = pd.read_sql(query, mydb)
        if len(ret) > 10:
            print(filtered_values[i])
            sort_out = ret.sort_values('position')[['vehicle_no', 'position']]
            r = restart[['vehicle_no','restart_pos','dist_wl', 'lane', 'Pre-Choose Position']].sort_values(['restart_pos','lane']).reset_index().reset_index()
            r['start_pos'] = r['Pre-Choose Position']
            r = r[['vehicle_no','restart_pos', 'lane', 'start_pos']]
            r = pd.merge(r, sort_out, on = 'vehicle_no')
            r['gain'] = r['start_pos'] - r['position']
            df1 = r.pivot_table(index='restart_pos', columns='lane', values='vehicle_no', aggfunc='first')
            df2 = r.pivot_table(index='restart_pos', columns='lane', values='start_pos', aggfunc='first')
            df3 = r.pivot_table(index='restart_pos', columns='lane', values='position', aggfunc='first')
            df4 = r.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')
            out = pd.concat([df1,df2, df3,df4], axis = 1)
            out.index.names = ['Lane']
            out.insert(2,'V','')
            out.insert(5,'C','')
            out.insert(8,'L','')

            out.columns = ['Car # Inside','Car # Outside', '','Pre-Choose Position','Pre-Choose Position','','Post-Sort Position','Post-Sort Position','', 'Gain/Loss','Gain/Loss']
            df_list.append(r)
            file.write(f"Restart {i}\n")
            file.write(f'Lap #: {filtered_values[i]+1}\n')
            file.write(f'Sort Lap: {filtered_values[i]+3}\n')
            out.to_csv(file, index=False)
            file.write("\n")

In [ ]:
from scipy.spatial import distance

def calc_inside_distance(position, white_line):
    closest_index = distance.cdist([position], white_line).argmin()
    closest_point = white_line[closest_index]
    distance_to_closest = distance.euclidean(position, closest_point)
    lap_frac = np.round(closest_index/len(white_line),4)
    return distance_to_closest, closest_index, lap_frac


pos = list(zip(res.position_x, res.position_y))
closest_point = []
dist_white_line = list()
for j in pos:
    dist_white_line.append(calc_inside_distance(j, wl)[0])
    closest_point.append(calc_inside_distance(j, wl)[1])

In [ ]:
wl[closest_point[0]][0]+wl[closest_point[0]][1]

In [ ]:
138.7994 + 135.8501

In [ ]:
res['dist_wl_2'] = dist_white_line
res

In [ ]:
import json 
with open(f'../Brainstorming/boundary-files-2024-01-31/Daytona.json') as file:
    data = json.load(file)
inside_x = downsample_line(track_json['boundary']['inside']['x'], 1000)
inside_y = downsample_line(track_json['boundary']['inside']['y'], 1000)
    inside_z = downsample_line(track_json['boundary']['inside']['z'], 1000)
    white_line = list(zip(inside_x, inside_y, inside_z))
wl = list(zip(data['boundary']['inside']['x'],data['boundary']['inside']['y']))

In [ ]:
res = df[df['lead_lap_y'].isin([filtered_values[i]])]
res = res.drop_duplicates(['vehicle_id','lead_lap_x'], keep = 'last')
#res['distance_from_white_line'] = np.abs(res.distance_from_white_line)
res['lane'] = res.distance_from_white_line.apply(lambda x: 'inside' if x <= math.floor(np.mean(res.distance_from_white_line) * 2) / 2 else 'outside')
res

In [ ]:
df = pd.read_sql("""SELECT * FROM (
SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION), ROW_NUMBER() OVER (PARTITION BY vehicle_id, lap ORDER BY timestamp ASC) AS row_num
FROM timejoin_throttle_position
WHERE (CAST(lap_fraction_pos AS DOUBLE PRECISION)) > 0.950
) AS subquery
WHERE row_num = 1;""", connection)

In [ ]:
from flask import Flask, render_template, jsonify,send_file
import pandas as pd
import warnings
import math
import numpy as np
from sqlalchemy import create_engine, text
from io import BytesIO
import time as time

warnings.filterwarnings("ignore")


connection_string = f'postgresql://gryffindor:password2311@postgres-23xi-aurora-rds-instance-1.cbywwdy08bsq.us-east-1.rds.amazonaws.com:5432/dev'
engine = create_engine(connection_string)


connection = engine.connect()
query  = text('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results')
result = connection.execute(query)
data = result.fetchall()
results = pd.DataFrame(data)
results = results[results['run_type'] == 3]
results = results.sort_values(['lead_lap','vehicle_id'])
results = results.drop_duplicates(['vehicle_id','lap'])
results['lap'] = results.lap.apply(lambda x: 0 if x in [0,1] else x)

query = text("""SELECT * FROM (
SELECT vehicle_id,CAST(lap as INTEGER), CAST(timestamp as DOUBLE PRECISION),CAST(lap_fraction as DOUBLE PRECISION),CAST(distance_from_white_line AS DOUBLE PRECISION),CAST(lap_fraction_pos AS DOUBLE PRECISION),CAST(lead_lap as INTEGER),flag_state,CAST(position_x as DOUBLE PRECISION),CAST(position_y as DOUBLE PRECISION), ROW_NUMBER() OVER (PARTITION BY vehicle_id, lap ORDER BY timestamp ASC) AS row_num
FROM timejoin_throttle_position
WHERE (CAST(lap_fraction_pos AS DOUBLE PRECISION)) > 0.950
) AS subquery
WHERE row_num = 1;""")
result = connection.execute(query)
data = result.fetchall()
df = pd.DataFrame(data)

df = pd.merge(df, results, on = ['vehicle_id','lap'])
df = df.sort_values(['vehicle_id','lead_lap_x'])
df['flag_state'] = df.flag_state.apply(lambda x:1 if x == 'Green' else 2)
df['flag_change'] = df.groupby('vehicle_id').flag_state.diff()
df.flag_change.fillna(-1, inplace = True)
restarts = df[df['flag_change'] == -1]

value_counts = restarts['lead_lap_y'].value_counts()
filtered_values = value_counts[value_counts > 10].index.tolist()
filtered_values.sort()

output_tables = []
for i in range(0,len(filtered_values)):
        print(i)
        res = df[df['lead_lap_y'].isin([filtered_values[i]])]
        res = res.drop_duplicates(['vehicle_id','lead_lap_x'], keep = 'last')
        res['distance_from_white_line'] = np.abs(res.distance_from_white_line)
        res['lane'] = res.distance_from_white_line.apply(lambda x: 'inside' if x <= math.floor(np.mean(res.distance_from_white_line) * 2) / 2 else 'outside')
        if i == 0:
            res['restart_pos'] = res.groupby('lane').ps.rank()
        else:
            res['restart_pos'] = res.groupby('lane').ps.rank()

        res = res[['vehicle_id','restart_pos','distance_from_white_line', 'lane', 'lap_fraction','ps']].sort_values(['ps','lane'])
        post_sort = results[results['lead_lap'].isin([filtered_values[i] + 4])][['vehicle_id','ps']]
        post_sort.columns = ['vehicle_id','post_sort_ps']
        out = pd.merge(res,post_sort, on = 'vehicle_id')
        out.sort_values('restart_pos')
        out['gain'] = out.ps - out.post_sort_ps

        df1 = out.pivot_table(index='restart_pos', columns='lane', values='vehicle_id', aggfunc='first')
        df2 = out.pivot_table(index='restart_pos', columns='lane', values='post_sort_ps', aggfunc='first')
        df3 = out.pivot_table(index='restart_pos', columns='lane', values='gain', aggfunc='first')

        out = pd.concat([df1,df2, df3], axis = 1)
        out.columns = ['Car # Inside','Car # Outside','Position after Sort','','Gain/Loss','']
        output_tables.append(out)
all_restarts = pd.concat(output_tables).reset_index()
top6 = all_restarts[all_restarts.restart_pos <= 3]
top12 = all_restarts[all_restarts.restart_pos <= 6]
top12 = top12[top12.restart_pos > 3]
top18 = all_restarts[all_restarts.restart_pos <= 9]
top18 = top18[top18.restart_pos > 6]
top24 = all_restarts[all_restarts.restart_pos <= 12]
top24 = top24[top24.restart_pos > 9]
top30 = all_restarts[all_restarts.restart_pos > 10]

lane_choice = pd.DataFrame({'Row': ['1-3','4-6','7-9','10-12','12+'], 'Inside Lane': [np.round(top6.iloc[:,5].mean(),2),np.round(top12.iloc[:,5].mean(),2),np.round(top18.iloc[:,5].mean(),2),np.round(top24.iloc[:,5].mean(),2),np.round(top30.iloc[:,5].mean(),2)],'Outside Lane': [np.round(top6.iloc[:,6].mean(),2),np.round(top12.iloc[:,6].mean(),2),np.round(top18.iloc[:,6].mean(),2),np.round(top24.iloc[:,6].mean(),2),np.round(top30.iloc[:,6].mean(),2)]})
connection.close()

In [ ]:
connection_string = f'postgresql://gryffindor:password2311@postgres-23xi-aurora-rds-cluster.cluster-ro-cbywwdy08bsq.us-east-1.rds.amazonaws.com:5432/dev'
engine = create_engine(connection_string)
connection = engine.connect()
query  = text('SELECT vehicle_id, CAST(lap as INTEGER), CAST(lead_lap as INTEGER), CAST(run_type as INTEGER), CAST(ps as INTEGER) FROM timejoin_results')
result = connection.execute(query)
data = result.fetchall()

In [ ]:
data